@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.highlight{
    color: rgb(16, 46, 216);
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half_width img{
    width: 100%;
}
section{
    height: 500px;
}
.header{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
.btn{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(45deg,lightSalmon, tomato);
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 600;
}
.dream_section{
    background: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experience_section{
    background: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: -25px;
}
.single_experiences{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    text-align: justify;
    height: 60%;
    padding: 10px;
    background: #ffffff;
}
#fulls_stacks{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon,tomato);
    border-image-slice: 1;
}
#baby_web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}